/* GENERAL */
body {
    padding-top: 100px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    flex: 1;
    min-height: 100%;
}

.fa-icon-clickable {
    color: black !important;
    cursor: pointer !important;
}

.fa-icon-clickable:hover {
    opacity: 0.5 !important;
}

/* FOOTER */
footer {
    min-height: 50px;
    border-top: 1px solid #e7e7e7;
    margin-top: 50px;
    background-color: #f8f8f8;
}

.footer-left, .footer-right {
    text-align: center;
}

@media (min-width: 500px) {
    .footer-left {
        float: left;
    }

    .footer-right {
        float: right;
    }
}

.footer-text {
    color: #777;
    margin: 15px 0
}

/* NAVBAR */
.navbar-default .navbar-brand {
    color: black;
}

.navbar-default .navbar-brand:hover {
    opacity: 0.8;
}

.navbar-social {
    margin: 0;
    font-size: 25px;
}

.navbar-social > li {
    float: left;
}

.navbar-social > li > a {
    padding: 15px 15px 10px 15px;
}

/* HOME PAGE */
.profile-description a.btn {
    margin: 10px 20px 20px 0;
}

/* ABOUT PAGE */
.job-title {
    font-weight: bold;
}

/* PROJECT PAGE */
.project-title {

}

.project-picture:hover {
    opacity: 0.5;
}

/* CONTACT PAGE */
.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

.contact-table {
    width: auto;
    font-size: 20px;
    margin-bottom: 10px;
}

@media (min-width: 500px) {
    .contact-table {
        font-size: 25px;
    }
}
