html, body {
    height: 100%;
}

body {
    padding-top: 100px;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    min-height: 100%;
    margin: 0 auto -51px;
}

.push {
    height: 100px;
}

footer {
    min-height: 50px;
    border-top: 1px solid #e7e7e7;
    background-color: #f8f8f8;
}

.footer-left, .footer-right {
    text-align: center;
}

@media (min-width: 500px) {
    .footer-left {
        float: left;
    }

    .footer-right {
        float: right;
    }
}

.footer-text {
    color: #777;
    margin: 15px 0
}

/* NAVBAR */
.navbar-social {
    margin: 0;
    font-size: 25px;
}

.navbar-social > li {
    float: left;
}

.navbar-social > li > a {
    padding: 15px 15px 10px 15px;
}

.navbar-a {
    color: #777;
}

.navbar-a:hover {
    color: #333;
}

/* HOME PAGE */
.profile-description a.btn {
    margin: 10px 20px 20px 0;
}

/* ABOUT PAGE */
.job-title {
    font-weight: bold;
}

/* PROJECT PAGE */
.project-title {

}

.project-picture:hover {
    opacity: 0.5;
}

/* CONTACT PAGE */
.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

.contact-table {
    width: auto;
    font-size: 20px;
    padding-bottom: 20px;
}
