body {
    padding: 100px 0 50px 0;
    font-family: 'Open Sans', sans-serif;
}

.navbar-social {
    margin: 0;
    font-size: 25px;
}

.navbar-social > li {
    float: left;
}

.navbar-social > li > a {
    padding: 15px 15px 10px 15px;
}

/* HOME PAGE */
#profile-description a.btn {
    margin: 10px 20px 20px 0;
}

/* ABOUT PAGE */
.job-title {
    font-weight: bold;
}

/* PROJECT PAGE */
.project-title {

}

.project-picture:hover {
    opacity: 0.5;
}

/* CONTACT PAGE */
.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

.contact-table {
    width: auto;
    font-size: 20px;
    padding-bottom: 20px;
}

.navbar-a {
    color: #777;
}

.navbar-a:hover {
    color: #333;
}
