body {
    padding-top: 100px;
    font-family: 'Open Sans', sans-serif;
}

/* HOME PAGE */
#profile-description a.btn {
    margin: 10px 0 20px 0;
}

/* PROJECT PAGE */
.project-title {

}

.project-picture:hover {
    opacity: 0.5;
}
