body {
    padding: 100px 0 50px 0;
    font-family: 'Open Sans', sans-serif;
}

.navbar-social {
    margin: 0;
    font-size: 25px;
}

.navbar-social > li {
    float: left;
}

.navbar-social > li > a {
    padding: 15px 15px 10px 15px;
}

/* HOME PAGE */
#profile-description a.btn {
    margin: 10px 0 20px 0;
}

/* PROJECT PAGE */
.project-title {

}

.project-picture:hover {
    opacity: 0.5;
}
